<div
    class="max-w-3xl bg-white shadow rounded mx-auto my-10"
>
    <h2 class="text-lg font-medium leading-6 text-gray-700 my-3 border-b p-3">
        Editar Perfil
    </h2>
    <form id="formEditProfile"> 
        <input type="hidden" value="{{_id}}" name="_id" id="_id">
        <div class="px-3 mt-3 flex justify-between items-start flex-col md:flex-row">
            <div class="flex flex-col grow md:mr-2 w-full group" id="error-name">
                <label for="r-name" class="font-medium text-slate-600 mb-1 text-sm">Nombre:</label>
                <input 
                    type="text" 
                    name="name" 
                    id="e-name"
                    value="{{this.name}}"
                    class="
                        bg-white px-3 py-2 border border-slate-300 rounded-md shadow-sm text-slate-600
                        focus:ring-1 ring-slate-600 focus:outline-none focus:border-slate-600 text-sm
                        group-[.error]:border-pink-500 group-[.error]:text-pink-600  group-[.error]:focus:ring-pink-500
                    "
                >
                <span class="text-sm text-pink-500 hidden group-[.error]:block" id="message-name"></span>
            </div>
            <div class="flex flex-col grow md:mr-2 w-full group max-md:mt-3" id="error-last">
                <label for="r-last" class="font-medium text-slate-600 mb-1 text-sm">Apellido:</label>
                <input 
                    type="text" 
                    name="last" 
                    id="e-last"
                    value="{{this.last}}"
                    class="
                        bg-white px-3 py-2 border border-slate-300 rounded-md shadow-sm text-slate-600
                        focus:ring-1 ring-slate-600 focus:outline-none focus:border-slate-600 text-sm
                        group-[.error]:border-pink-500 group-[.error]:text-pink-600  group-[.error]:focus:ring-pink-500
                    "
                >
                <span class="text-sm text-pink-500 hidden group-[.error]:block" id="message-last"></span>
            </div>
        </div>
        <div class="px-3 mt-3 flex flex-col relative group" id="error-profile">
            <label for="e-profile" class="font-medium text-slate-600 text-sm" >URL:</label>
            <div class="flex">
                <span
                    class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 pl-3 pr-1 py-2 text-sm text-gray-500 truncate"
                >
                    http://posts.com/profile/  
                </span>
                <input 
                    type="text" 
                    id="e-profile"
                    placeholder="mi-profile"
                    name="profile"
                    value="{{profile}}"
                    class="
                        bg-white pl-3 pr-20 py-2 border border-slate-300 rounded-r-md shadow-sm text-slate-600
                        focus:ring-1 ring-slate-600 focus:outline-none focus:border-slate-600 text-sm grow
                        group-[.error]:border-pink-500 group-[.error]:text-pink-600  group-[.error]:focus:ring-pink-500
                    "
                >
            </div>
            <span class="text-sm text-pink-500 hidden group-[.error]:block" id="message-profile"></span>
            <button
                type="button"
                id="btn-autocomplete"
                class="
                    absolute right-4 text-sm font-medium rounded-full px-2 py-1 top-[25px]
                    bg-slate-700 text-white
                    hover:bg-slate-900 transition-all overflow-hidden
                "
            >
                Auto: off
            </button>
        </div>
        <div class="flex justify-end items-center px-3 border-t py-2 mt-5">
            <button
                type="submit"
                class="
                    py-2 px-7 border-none rounded-md shadow-sm border-transparent bg-slate-800
                    text-center text-slate-100 text-sm
                    hover:bg-slate-900 font-medium
                    focus:ring-2 focus:ring-offset-2 focus:ring-slate-900
                "
            >
                Editar
            </button>
        </div>
    </form>
</div>  
<script src="/js/profile.js"></script>
